body{
    color: #0c2054;
    background-image: url("https://previews.123rf.com/images/annagolant/annagolant1708/annagolant170800157/83631178-halftone-background-comic-dotted-pattern-pop-art-retro-style-backdrop-with-circles-rounds-dots-desig.jpg");
    text-align: center;
}
